<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>{{ .title }}</h2>
        <p>{{ .subtitle | safeHTML }}</p>
    <div class="index align-left">
    <section>
    <div class="content">
        {{ range $idx, $val := .partners  }}
            <section>
                <span class="image {{ if (modBool $idx 2) }} left{{ else }} right{{ end }}">
                    <img src="{{ $val.image }}" alt="" />
                </span>
                <h3><a href="{{ $val.link }}">{{ $val.label }}</a></h3>
                <p>{{ $val.copy }}</p>
            </section>
        {{ end }}
    </section>
    </div>
    </div>
    </div>
</section>